body{
  background: pink;
  margin: 0;
  padding: 0;
}
 h1 {
   text-align: center;
 }
  .amor1{
   position: absolute;
   width: 75px;
   height: 75px;
   background: rgb(41, 28, 112);
   right: 0;
   bottom: 0;
  }
  .troxa{
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(177, 104, 165);
    right: 2;
    bottom: 2;
   }
   .o1{
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(177, 104, 165);
    right: 4;
    bottom: 4;
   }
   .menuPrincipal{
    position: absolute;
    width: 100%;
    height: 80px;
    background: rgb(206, 20, 98);
    font-family: 'Courier New', Courier, monospace;
    top: 0;
    left: 0;
  }

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: rgb(245, 184, 197);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
li a:hover{
  background: rgb(197, 2, 2);
  color:rgb(238, 73, 106);
}

.amor1{
  position: absolute;
  top: 0px;
  width: 2%;
  height: 8px;
  background: rgb(209, 167, 104);
  left: 0;
  margin: 15px;
  border-color: coral;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
  display: flex;
  justify-content: end;
}
.troxa{
  position: absolute;
  top: 0px;
  width: 0%;
  height: 8%;
  background: palevioletred (209, 167, 104 )
  left 0;
  margin:   20px;
  border-color: blue;
  border-style: solid;
  border-width: 20px;
  padding: 20px;
  display: flex;
  justify-content: end;

}
.o1{
  position: absolute;
  top: 0px;
  width: 0%;
  height: 12%;
  background: palevioletred (209, 167, 104 )
  left 0;
  margin:   0px;
  border-color: blue;
  border-style: solid;
  border-width: 0px;
  padding: 0px;
  display: flex;
  justify-content: end;

}

.rodape {
  position: absolute;
  width: 100%;
  height: 35px;
  background: white;
  color: black;
  bottom: 0;
  display: 0;

}

.conteudo{
  position: absolute;
  top: 45px;
  top: 50px;
} 




