body{
  background: pink;
}
 h1 {
   text-align: center;
 }
  .caixa1{
   position: absolute;
   width: 200px;
   height: 200px;
   background: blueviolet;
   right: 0;
   bottom: 0;
  }
  .caixa2{
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(194, 12, 164);
    right: 2;
    bottom: 2;
   }